/*Bai 5 CSS*/
a:link, a:visited {
    color: #309999;
    text-decoration: none;
}
a:hover, a:focus {
    color: #309999;
    text-decoration: none;
    text-shadow:0 0 6px #309999;
}
hr {
    border: 1px solid #ccc;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
#container {
    background-color: #e6f3fb;
    border: 1px solid #dadada;
    padding: 3px 10px 2px 10px;
    width: 290px;
    margin: 0 auto;
}
#container h3 {
    font-size: 12px;
    margin: 0px;
}
#blogroll, #horo, #getnew {
    border-top: 2px solid #ffa500;
    width: 270px;
    padding: 5px 5px 0px 5px;
    background-color: white;
}
#blogroll img {
    border: 1px solid #ccc;
    padding: 1px;
    float: left;
    margin-bottom:5px;
}
#blogroll b {
    font-size: 11px;
    color: #309999;
}
#blogroll ul {
    list-style-type: none;
    clear: both;
    margin:0px -5px 1px -45px;
}

#blogroll li {
    background-color: #fbf0c0;
    margin-bottom: 1px;
    padding: 10px 0px 2px 10px;
    height: 20px;
}
#horo {
    margin-bottom: 20px;
}
#horo span {
    color: #808080;
}
#getnew {
    height:95px;
}
#getnew img {
    height: 100px;
    width: 100px;
    margin: -5px -5px 0px 0px;
    float:right;
}
.getnew_content {
    width: 130px;
    float: left;
    margin:-5px 0px 0px 10px;
}
.horo_img {
    width:70px;
    height: 80px;
}
.blog_content {
    width: 100px;
    float: right;
}

.horo_content {
    width: 180px;
    float: right;
}
.under_horo {
    height: 36px;
    background-color: #f4f4ec;
    margin: 10px -5px 0px -5px;
    padding: 10px 0px 0px 20px;
    clear: both;
}
.under_horo img {
    height: 45px;
    width: 75px;
    float: right;
    margin-top:-22px;
}
.competitions {
    background-color: #fff;
    border: 1px solid #dadada;
    margin-bottom: 10px;
}
.competitions ul {
    margin:10px 0px 10px -30px;
    list-style-type: none;
    color: #309999
}
