/*Calendar CSS*/
table , th{
    border: 1px solid #000;
}

td {
    border: 1px dotted #123456;
    width: 60px;
    height: 20px;
    text-align: center;
}

table .sun {
    color: red;
}

table .sat {
    color: blue;
}
table input {
    width: 58px;
    height: 18px;
    text-align: center;
}
table button {
    height: 24px;
    width: 58px;
    text-align: center;
}
#month {
    width: 120px;
    height: 22px;
}
#year {
    width: 58px;
    height: 22px;
}